<div class="container blur-global-style">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img class="bi me-2" src="../../../assets/images/web.png" alt="" width="40" height="32">
      <span class="fs-4">Portfolio by <strong> Dangelo Aguilar </strong></span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/" class="nav-link text-white" aria-current="page">Home</a></li>
      <li *ngIf="devMode" class="nav-item"><a href="#" class="nav-link text-white">CV</a></li>
      <li *ngIf="devMode" class="nav-item"><a href="#" class="nav-link text-white">Projects</a></li>
      <li *ngIf="devMode" class="nav-item"><a href="#" class="nav-link text-white">Current Carear</a></li>
      <li class="nav-item"><a routerLink="/dangelo-dev/contact" class="nav-link text-white">Contact</a></li>
    </ul>
  </header>
</div>
