<main>
  <div class="px-4 py-5 my-5 text-center">
    <img class="rounded img-fluid" src="/assets/images/profile.jpg" alt="" width="300" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Hello World, I'm Dangelo!😎</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">FullStack developer with more than 4 years of experience in the software development area. Passionate about software development for mobile and web platforms, with high performance in development frameworks such as Angular, Flutter, Node.js, among others.</p>
      <p class="lead mb-4">I consider myself a responsible, dynamic person, with a strong desire to help improve processes and create new solutions. I like challenges, and I enjoy learning from others, learning new things in my area and in new areas in my work environment.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-light btn-lg px-4 gap-3">See my CV 🧐</button>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">My last project - App mobile for Mrs. Cleaners Company</h1>
        <p class="lead">This project is created in Flutter and has many concepts applied within the system development, such as online payments, user location management, application state management, Google development APIs configuration, among others. Want to know more? Let’s go, click below.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-light btn-lg px-4 me-md-2 fw-bold">See more...😎</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded img-fluid " src="/assets/images/project-cleners.png" alt="" width="720" height="">
      </div>
    </div>
  </div>
</main>
