<div class="container blur-global-style">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-emphasis">
        Created with ♥ by <b><a href="https://github.com/djdangelo" target="_blank">djdangelo</a></b> © {{ year }}
      </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-solid fa-envelope fa-2xl"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
    </ul>
  </footer>
</div>
